doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="description" content="Un podcast que explora el mundo de la programación. Nuevos episodios todos los jueves cada 15 días.")
		meta(name="robots" content="index,follow")
		link(rel="shortcut icon" href="./assets/logo.svg" type="image/x-icon")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css")
		link(rel="stylesheet" href="./styles/styles.min.css")
		link(rel="stylesheet" href="./styles/desktop.min.css" media="screen and (min-width: 1220px)")
		title Blue dot
	body
		header.container-header
			img(src="./assets/logo.svg" alt="Logo del podcast")
			nav.container-header__nav
				div.container-header__menu
					input.container-header__input(type="checkbox")
					span.container-header__top-line
					span.container-header__middle-line
					span.container-header__bottom-line
					ul.container-header__list
						li.container-header__item
							a.container-header__link(href="#") EPISODIOS
						li.container-header__item
							a.container-header__link(href="#") NOSOTROS
						li.container-header__item
							a.container-header__link(href="#") ENTREVISTAS
						li.container-header__item
							a.container-header__link(href="#") TÓPICOS
		main
			section.container-main
				h1.container-main__title Hello
					span.container-main__world  world
					|  pale blue dot
					span.container-main__point  .
				p.container-main__paragraph Un podcast que explora el mundo de la programación. Nuevos episodios todos los jueves cada 15 días.
				a.container-main__button(href="#") CONOCÉ MÁS
			section.container-episodes
				h2.container-episodes__title Episodios
				div.container-episodes__episodes
					<iframe src="https://open.spotify.com/embed-podcast/episode/6eCHJ8yOYtksW8OT93Dbdu" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
					<iframe src="https://open.spotify.com/embed-podcast/episode/1ezdL2ivAGLwSE6Xbssxqt" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
					<iframe src="https://open.spotify.com/embed-podcast/episode/3cWta1iiQSfvrdHaCbLkSD" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
					<iframe src="https://open.spotify.com/embed-podcast/episode/1lKaWGX1zNlU8oJNqzFWak" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
			section.container-phone
				img.container-phone__image(src="./assets/phone.png" alt="Esto es un teléfono celular")
				article.container-phone__article
					h2.container-phone__title De dónde venimos
					p.container-phone__paragraph Our posturings, our imagined self-importance, the delusion that we have some privileged position in the Universe, are challenged by this point of pale light.
					br
					p.container-phone__paragraph Our planet is a lonely speck in the great enveloping cosmic dark. In our obscurity, in all this vastness, there is no hint that help will come from elsewhere to save us from ourselves.
			section.container-guests
				h2.container-guests__title Invitadas/os estelares
				figure.container-guests__photos
					img.container-guests__photo(src="./assets/grace-hopper.png" alt="Esto es una foto de Grace Hopper")
					img.container-guests__photo(src="./assets/Katie-Bouman.png" alt="Esto es un foto de Katie Bouman")
					img.container-guests__photo(src="./assets/Margaret_Hamilton.png" alt="Esto es una foto de Margaret Hamilton")
					img.container-guests__photo(src="./assets/An-E.R.A.Univac-1103-computer-in-the-1950s.png" alt="Esto es una foto de la Univac 1")
					img.container-guests__photo(src="./assets/Computer-operators-with-an-Eniac-the-world’s-first-programmable-general-purpose-computer.png" alt="Esto es una foto de Eniac")
					img.container-guests__photo(src="./assets/susan-kare.png" alt="Esto es una foto de Susan Kare")
			section.container-topics
				h2.container-topics__title Algunos de nuestros temas
				figure.container-topics__icons
					img(src="./assets/icon1.svg" alt="Primer ícono")
					span Trabajo remoto
					img(src="./assets/icon2.svg" alt="Segundo ícono")
					span Repensando la progración
					img(src="./assets/icon3.svg" alt="Tercer ícono")
					span Bases del código
					img(src="./assets/icon4.svg" alt="Cuarto ícono")
					span Seguridad informática
			section.container-last
				h2.container-last__title ¿Querés las últimas novedades?
				a(href="#").container-last__button
					span.container-last__link(href="#") ESCUCHÁ LOS EPISODIOS
		footer.container-footer
			span.container-footer__text © 2019— Hello blue pale dot
			.container-footer__icons
				<i class="fab fa-spotify"></i>
				<i class="fab fa-instagram"></i>
				<i class="fab fa-twitter"></i>
				<i class="fab fa-facebook"></i>
				<i class="fab fa-telegram"></i>
