.container-footer {
  margin: 0 auto;
  margin-top: 24px;
  width: 100%;
  height: auto;
  padding-bottom: 31px;

  &__text {
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    font-family: $secondary-font;
    font-size: 1.4rem;
    font-weight: 400;
    color: $dark-blue;
    line-height: 2.2rem;
  }

  &__icons {
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 16px;

    .fab {
      color: $dark-blue;
      font-size: 1.6rem;
      line-height: 2.8rem;
    }
  }
}
