$white: #fff;
$dark-blue: #060a24;
$light-blue: #00f3bb;
$button-gradient: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
$background-gradient: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
$primary-font: "IBM Plex Sans", sans-serif;
$secondary-font: "IBM Plex Mono", monospace;
$general-width: 90vw;
$margin: 0 auto;
